include LICENSE
include MANIFEST.in
recursive-include bin *
recursive-include res *
recursive-include config *
recursive-include tests *
global-exclude mcdu.cfg
global-exclude __pycache__
global-exclude *~
global-exclude *.pyc