* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "AirbusMCDUa", Inconsolata;
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
}

a {
    position: absolute;
    cursor: pointer;
}

audio {
    display: none;
}

#status {
    position: absolute;
    background-color: #ff0000;
    left: 19px;
    top: 392px;
    width: 12px;
    height: 82px;
    opacity:0.1;
}

#mcdu {
    background: url(mcdu.png) no-repeat;
    width: 366px;
    height: 570px;
}

#display {
    color: #fff;
    position: absolute;
    left: 50px;
    top: 33px;
    width: 270px;
    height: 215px;
    vertical-align: top;
    line-height: 0px;
}

#display tr:nth-child(1) {
    text-align: left;
}

#display tr td:nth-child(2) {
    text-align: right;
}

#display tr:nth-child(2n) {
    font-size: 11px;
}

#display tr:nth-child(2n+1) {
    font-size: 17px;
}

#title {
    font-size: 19px;
    text-align: center;
}

#scratch {
    font-size: 17px;
}

#LSK0L { top: 62px; left: 0px; width: 33px; height: 25px; }
#LSK1L { top: 92px; left: 0px; width: 33px; height: 25px; }
#LSK2L { top: 120px; left: 0px; width: 33px; height: 25px; }
#LSK3L { top: 149px; left: 0px; width: 33px; height: 25px; }
#LSK4L { top: 178px; left: 0px; width: 33px; height: 25px; }
#LSK5L { top: 207px; left: 0px; width: 33px; height: 25px; }
#LSK0R { top: 62px; left: 333px; width: 33px; height: 25px; }
#LSK1R { top: 92px; left: 333px; width: 33px; height: 25px; }
#LSK2R { top: 120px; left: 333px; width: 33px; height: 25px; }
#LSK3R { top: 149px; left: 333px; width: 33px; height: 25px; }
#LSK4R { top: 178px; left: 333px; width: 33px; height: 25px; }
#LSK5R { top: 207px; left: 333px; width: 33px; height: 25px; }
#MENU { top: 340px; left: 46px; width: 37px; height: 29px; }

#NUM1 { top: 414px; left: 44px; width: 30px; height: 30px; }
#NUM2 { top: 414px; left: 79px; width: 30px; height: 30px; }
#NUM3 { top: 414px; left: 116px; width: 30px; height: 30px; }
#NUM4 { top: 450px; left: 44px; width: 30px; height: 30px; }
#NUM5 { top: 450px; left: 79px; width: 30px; height: 30px; }
#NUM6 { top: 450px; left: 116px; width: 30px; height: 30px; }
#NUM7 { top: 485px; left: 44px; width: 30px; height: 30px; }
#NUM8 { top: 485px; left: 79px; width: 30px; height: 30px; }
#NUM9 { top: 485px; left: 116px; width: 30px; height: 30px; }
#DOT { top: 521px; left: 44px; width: 30px; height: 30px; }
#NUM0 { top: 521px; left: 79px; width: 30px; height: 30px; }
#PLUSMINUS { top: 521px; left: 116px; width: 30px; height: 30px; }

#A { top: 343px; left: 152px; width: 30px; height: 30px; }
#B { top: 343px; left: 188px; width: 30px; height: 30px; }
#C { top: 343px; left: 224px; width: 30px; height: 30px; }
#D { top: 343px; left: 260px; width: 30px; height: 30px; }
#E { top: 343px; left: 296px; width: 30px; height: 30px; }
#F { top: 378px; left: 152px; width: 30px; height: 30px; }
#G { top: 378px; left: 188px; width: 30px; height: 30px; }
#H { top: 378px; left: 224px; width: 30px; height: 30px; }
#I { top: 378px; left: 260px; width: 30px; height: 30px; }
#J { top: 378px; left: 296px; width: 30px; height: 30px; }
#K { top: 414px; left: 152px; width: 30px; height: 30px; }
#L { top: 414px; left: 188px; width: 30px; height: 30px; }
#M { top: 414px; left: 224px; width: 30px; height: 30px; }
#N { top: 414px; left: 260px; width: 30px; height: 30px; }
#O { top: 414px; left: 296px; width: 30px; height: 30px; }
#P { top: 449px; left: 152px; width: 30px; height: 30px; }
#Q { top: 449px; left: 188px; width: 30px; height: 30px; }
#R { top: 449px; left: 224px; width: 30px; height: 30px; }
#S { top: 449px; left: 260px; width: 30px; height: 30px; }
#T { top: 449px; left: 296px; width: 30px; height: 30px; }
#U { top: 485px; left: 152px; width: 30px; height: 30px; }
#V { top: 485px; left: 188px; width: 30px; height: 30px; }
#W { top: 485px; left: 224px; width: 30px; height: 30px; }
#X { top: 485px; left: 260px; width: 30px; height: 30px; }
#Y { top: 485px; left: 296px; width: 30px; height: 30px; }
#Z { top: 521px; left: 152px; width: 30px; height: 30px; }
#SP { top: 521px; left: 188px; width: 30px; height: 30px; }
#DEL { top: 521px; left: 224px; width: 30px; height: 30px; }
#SLASH { top: 521px; left: 260px; width: 30px; height: 30px; }
#CLR { top: 521px; left: 296px; width: 30px; height: 30px; }
